{% extends 'base-User-Page.html' %}

{% block userpage %}
    <div class="col-md-9">

        <div class="col-md-2", id="msg_border">

        </div>
        <div class="col-md-8" id="messages">
            <h5><a href="/socnet/sent">Sent msgs</a></h5>

            {% for msg in  msgs%}
                <div class="col-md-12" id="message">
                    <div class="col-md-4">
                        <h5><a href="{{ msg.user_path }}">From: {{ msg.from }}</a></h5>
                    </div>
                    <div class="col-md-4">
                        <h5>{{ msg.content }}</h5>
                        <h5><a href="#">Ответить</a></h5>
                    </div>
                    <div class="col-md-4">
                        <h5>{{ msg.date }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}