{%  extends 'base-User-Page.html' %}

{% block userpage %}
    <h5><a href="/socnet/im">Received msgs</a></h5>
    <div class="col-md-10">
        <div class="col-md-2", id="msg_border">
        </div>
        <div class="col-md-8" id="messages">
            {% for msg in  msgs%}
                <div class="col-md-12" id="message">
                    <div class="col-md-4">
                        <h5><a href="{{ user_info.user_page }}">From: {{ msg.from }}</a></h5>
                    </div>
                    <div class="col-md-4">
                        <h5>{{ msg.content }}</h5>
                        <h5><a href="#">Ответить</a></h5>
                    </div>
                    <div class="col-md-4">
                        <h5>{{ msg.date }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}